.panel-height {
	min-height:100%;
}

.admin-panel {
	padding: 0px !important;
	margin: 10px 20px 20px 20px;
	flex: 0;
}

.panel-padding {
	padding-top: 5px !important;
}

.icon-menu {
	float: right;
	font-size: 16px;
}

.err-fade {
  transition: 0.5s linear all;
  opacity: 1;
}

.err-fade.ng-hide {
  opacity: 0;
}

.error {
	padding: 10px;
	margin-bottom: 15px;
	border-radius:3px !important;
}

.error-text {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.point {
	cursor: pointer;
}

.half-width-form {
	width: 50%;
}

.editor {
	height: 18vh;
	width: 100%;
}

.table-padding-left {
	padding-left: 5px;
}

.table-menu {
	text-align: right;
	font-size: 16px;
	padding-right: 5px;
}

.text-area-resize {
	resize: none;
	overflow: auto;
}
