$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
.browserupgrade {
  margin: 0.2em 0;
  background: #FFF;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background: #fff;
  overflow: auto;
  color: #fff;
  position: relative;
  font-family: 'Source Code Pro', monospace;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.01);
}

.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
   z-index: 999;
}

.fade-in {
  -webkit-animation: fadein 1s;
   -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
     -o-animation: fadein 1s;
        animation: fadein 1s;
}

.project-fade-in {
  -webkit-animation: fadein 2s;
   -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
     -o-animation: fadein 2s;
        animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.lg-height {
  height: 100%;
}

.viewport-min {
  min-height: 100vh;
}

.max-width {
  width: 100%;
}

md-content.md-default-theme, md-content {
  background-color: #FFF;
}

.md-whiteframe-4dp, .md-whiteframe-z2 {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.2),
              0 0px 10px 0 rgba(0,0,0,.14),
              0 0px 0px 0 rgba(0,0,0,.12);
}

navbar {
  overflow: hidden;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  border-right: 1px solid rgba(194, 194, 194, 0.3);
  min-height: 100%;
  overflow: hidden;
}

.fab-wrapper {
  position: fixed;
  top: 10;
  right: 20px;
  height: 36px;
  width: 36px;
  z-index: 999;
}

.fab-icon-size {
  font-size:  28px;
}

.fab-label-wrapper {
  position: fixed;
  top: 11px;
  left: -122.5px;
  z-index: 999;
  height: 30px;
  width: 125px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1px !important;
}

.slide-content {
  width: 320px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.slide-wrapper {
  position: absolute;
  bottom: 30px;
  right: 0;
  text-align: center;
  padding-top: 6px;
  border-radius: 2px !important;
}

.sidenav-header-text {
  font-family: 'Press Start 2P', cursive;
}

.sidenav-header-title {
  font-size: 18px;
  padding: 8px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 0px !important;
}

.sidenav-icon {
  font-size: 16px;
  padding-right: 0.75px;
}

.sidenav-list {
  padding: 0px 0 !important;
}

.sidenav-list-pointer {
  cursor: pointer;
}

.sidenav-recent-wrapper {
  padding-top: 0px;
}

.sidenav-recent-bg {
  background-color: #fff;
}

.recent-icon {
  width: 28px !important;
  height: 28px !important;
  margin-right: 4px !important;
}

.sidenav-content {
  margin-top: 8px;
  overflow: hidden;
  -webkit-box-shadow: 3px -30px 5px 4px rgba(255,255,255,1);
  -moz-box-shadow: 3px -30px 5px 4px rgba(255,255,255,1);
  box-shadow: 3px -30px 5px 4px rgba(255,255,255,1);
}

.md-button.md-fab {
  width: 46px;
  height: 46px;
  line-height:0px;
}

div.nav-slide-slow {
  height:65px;
  padding-bottom:0px;
  overflow:hidden;
  background-image: url('../assets/images/cloudpat.png');
  -webkit-animation: animate_background 15s linear 0s infinite;
  -moz-animation: animate_background 15s linear 0s infinite;
  -o-animation: animate_background 15s linear 0s infinite;
  animation: animate_background 15s linear 0s infinite;
}

@-webkit-keyframes animate_background {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -300px;
  }
}

@-moz-keyframes animate_background {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -300px;
  }
}

@-o-keyframes animate_background {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -300px;
  }
}

@keyframes animate_background {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 -300px;
  }
}

.pathitem {
  font-family: 'Source Code Pro', monospace;
}

.pathitem:hover{
  background: rgba(204, 229, 255, .2);
  font-family: 'Source Code Pro', monospace;
}

.display .ql-editor {
  padding: 0px;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  width: 90%;
}

.ql-editor pre {
  padding: 10px !important;
  border: 1px solid rgba(194, 194, 194, 0.3);
  border-radius: 1;
  background-color: rgba(245, 245, 245, 0.3) !important;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table >
  tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 8px 0px 8px;
}

.pagination {
  margin: 0px;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active >
  a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination >
  .active > span:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  font-weight: bold;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover,
  .pagination > li > span:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.activePage {
  font-weight: bold !important;
}

.panel {
  margin-bottom: 0px;
}
// Component styles are injected through gulp
/* inject:scss */
@import 'about/about';
@import 'admin/admin';
@import 'entry/entry';
@import 'main/main';
@import 'projects/projects';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
