.left-col-main {
  padding: 10px 10px 0px 10px;

}

md-card {
  margin: 0px !important;
  -webkit-box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
  -moz-box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
  box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
}

.avatar-margins {
  margin-right: 4px;
}

md-card md-card-title {
  -webkit-box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
  -moz-box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
  box-shadow: inset -1px -3px 24px -27px rgba(0,0,0,0.0) !important;
  padding-top: 0px;
}

.sub-header {
  text-align: justify;
}

.post-card {
    border-left: 3px solid rgba(32, 58, 254, 0.3);
    margin: 0px 0px 5px 0px !important;
}

.md-padding {
  padding: 0px;
}

.post-padding {
  padding-left: 10px;
}

.main-paging-panel {
  text-align: center;
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.pagination-button {
  min-width:15px!important
}

.right-col-main {
  padding-bottom: 100px;
  padding: 10px 10px 52px 0px;
  height: 100%;
}

.slider {
    transition: .2s linear all;
    height:300px;
    overflow: hidden;
}

.slider.ng-hide {
    height:0;
}

.link-card {
  border-bottom: 1px solid rgba(194, 194, 194, 0.3);
}

.link-title-padding {
  padding-top: 10px !important;
}

.link-subtitle-padding {
  padding-top: 5px;
}

.link-repeat-title {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}

.link-content {
  padding-top: 0px !important;
}

.view-all-pointer {
  cursor: pointer;
  text-align: center;
}
